<div class="sale-banner d-flex justify-content-around">
    <div class="sale-info">
        <h1>End of Season Sale</h1>
        <p class="text-white-50">Hurry these offers won’t be around for ever!</p>
        <div class="countdown">
            <div class="d-flex">
                <div class="time">
                    <span class="number mt-1">{{ saleEndsIn.days }}</span>
                    <span class="text-white-50">Days</span>
                </div>
                <div class="colon">:</div>
            </div>
            <div class="d-flex">
                <div class="time">
                    <span class="number mt-1">{{ saleEndsIn.hours }}</span>
                    <span class="text-white-50">Hours</span>
                </div>
                <div class="colon">:</div>
            </div>
            <div class="time">
                <span class="number mt-1">{{ saleEndsIn.minutes }}</span>
                <span class="text-white-50">Minutes</span>
            </div>
        </div>
    </div>

    <div class="product-images">
        <ng-container *ngFor="let product of items; let i=index">
            <div class="d-flex flex-column">
                <img [src]="product.src" [alt]="product.name" class="product-image border border-2">
                <div class="text-center text-white mt-2">{{product.title}}</div>
            </div>
        </ng-container>
    </div>

    <button class="shop-now-btn">Shop Now</button>
</div>